/* ======== reset CSS ========= */
:root {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overview-facebook, .overview-twitter, .overview-instagram, .overview-youtube, .follower-Card-facebook, .follower-Card-twitter, .follower-Card-instagram, .follower-Card-youtube {
  position: relative;
  background-color: lightgray;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
}

.overview-facebook p, .overview-twitter p, .overview-instagram p, .overview-youtube p, .follower-Card-facebook p, .follower-Card-twitter p, .follower-Card-instagram p, .follower-Card-youtube p {
  line-height: 6;
  color: gray;
}

.overview-facebook h2, .overview-twitter h2, .overview-instagram h2, .overview-youtube h2, .follower-Card-facebook h2, .follower-Card-twitter h2, .follower-Card-instagram h2, .follower-Card-youtube h2 {
  font-size: 6rem;
  line-height: 0.8;
}

.overview-facebook h3, .overview-twitter h3, .overview-instagram h3, .overview-youtube h3, .follower-Card-facebook h3, .follower-Card-twitter h3, .follower-Card-instagram h3, .follower-Card-youtube h3 {
  text-transform: uppercase;
}

.overview-facebook::before, .overview-twitter::before, .overview-instagram::before, .overview-youtube::before, .follower-Card-facebook::before, .follower-Card-twitter::before, .follower-Card-instagram::before, .follower-Card-youtube::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  z-index: 2;
  background-color: gray;
  top: 0;
  left: 0;
  border-radius: 1rem 1rem 0 0;
}

.overview-facebook, .overview-twitter, .overview-instagram, .overview-youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overview-facebook p, .overview-twitter p, .overview-instagram p, .overview-youtube p {
  line-height: 1;
}

.overview-facebook .title-bar, .overview-twitter .title-bar, .overview-instagram .title-bar, .overview-youtube .title-bar {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview-facebook .stats, .overview-twitter .stats, .overview-instagram .stats, .overview-youtube .stats {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview-facebook::before, .overview-twitter::before, .overview-instagram::before, .overview-youtube::before {
  display: none;
}

.switcher {
  border-top: 1px solid gray;
  margin-top: 2rem;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch {
  position: relative;
  width: 6rem;
  height: 3rem;
  background-color: gray;
  border-radius: 1.5rem;
}

.switch::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: white;
  top: .5rem;
  right: .5rem;
  border-radius: 1.5rem;
}

.switch:hover {
  cursor: pointer;
}

.follower-Card-facebook {
  margin-top: 2rem;
}

.follower-Card-facebook .icon {
  color: blue;
}

.follower-Card-facebook::before {
  background: blue;
}

.follower-Card-twitter {
  margin-top: 2rem;
}

.follower-Card-twitter .icon {
  color: lightblue;
}

.follower-Card-twitter::before {
  background: lightblue;
}

.follower-Card-instagram {
  margin-top: 2rem;
}

.follower-Card-instagram .icon {
  color: pink;
}

.follower-Card-instagram::before {
  background: pink;
}

.follower-Card-youtube {
  margin-top: 2rem;
}

.follower-Card-youtube .icon {
  color: red;
}

.follower-Card-youtube::before {
  background: red;
}

.overview-facebook {
  margin-top: 2rem;
}

.overview-facebook .icon {
  color: blue;
}

.overview-twitter {
  margin-top: 2rem;
}

.overview-twitter .icon {
  color: lightblue;
}

.overview-instagram {
  margin-top: 2rem;
}

.overview-instagram .icon {
  color: pink;
}

.overview-youtube {
  margin-top: 2rem;
}

.overview-youtube .icon {
  color: red;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: white;
}

main {
  margin: 2rem;
}

header {
  margin-bottom: 2rem;
}

.overview h2 {
  margin: 2rem 0;
}
/*# sourceMappingURL=main.css.map */