/* ======== reset CSS ========= */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overview-facebook, .overview-twitter, .overview-instagram, .overview-youtube, .follower-Card-facebook, .follower-Card-twitter, .follower-Card-instagram, .follower-Card-youtube {
  position: relative;
  background-color: #F1F3FA;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
}

.overview-facebook p, .overview-twitter p, .overview-instagram p, .overview-youtube p, .follower-Card-facebook p, .follower-Card-twitter p, .follower-Card-instagram p, .follower-Card-youtube p {
  line-height: 6;
  color: #63687D;
  font-size: 1.2rem;
}

.overview-facebook h2, .overview-twitter h2, .overview-instagram h2, .overview-youtube h2, .follower-Card-facebook h2, .follower-Card-twitter h2, .follower-Card-instagram h2, .follower-Card-youtube h2 {
  font-size: 5.6rem;
  line-height: 0.8;
}

.overview-facebook h3, .overview-twitter h3, .overview-instagram h3, .overview-youtube h3, .follower-Card-facebook h3, .follower-Card-twitter h3, .follower-Card-instagram h3, .follower-Card-youtube h3 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.2rem;
  line-height: 2.5;
}

.overview-facebook .icon, .overview-twitter .icon, .overview-instagram .icon, .overview-youtube .icon, .follower-Card-facebook .icon, .follower-Card-twitter .icon, .follower-Card-instagram .icon, .follower-Card-youtube .icon {
  vertical-align: text-top;
  margin-right: 0.6rem;
}

.overview-facebook .trends i, .overview-twitter .trends i, .overview-instagram .trends i, .overview-youtube .trends i, .follower-Card-facebook .trends i, .follower-Card-twitter .trends i, .follower-Card-instagram .trends i, .follower-Card-youtube .trends i {
  vertical-align: text-bottom;
}

.overview-facebook::before, .overview-twitter::before, .overview-instagram::before, .overview-youtube::before, .follower-Card-facebook::before, .follower-Card-twitter::before, .follower-Card-instagram::before, .follower-Card-youtube::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  z-index: 2;
  background-color: gray;
  top: 0;
  left: 0;
  border-radius: 1rem 1rem 0 0;
}

.overview-facebook, .overview-twitter, .overview-instagram, .overview-youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overview-facebook p, .overview-twitter p, .overview-instagram p, .overview-youtube p {
  line-height: 1;
}

.overview-facebook .title-bar, .overview-twitter .title-bar, .overview-instagram .title-bar, .overview-youtube .title-bar {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview-facebook .title-bar p, .overview-twitter .title-bar p, .overview-instagram .title-bar p, .overview-youtube .title-bar p {
  font-size: 1.4rem;
}

.overview-facebook .stats, .overview-twitter .stats, .overview-instagram .stats, .overview-youtube .stats {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.overview-facebook .number, .overview-twitter .number, .overview-instagram .number, .overview-youtube .number {
  font-weight: 700;
  font-size: 3.2rem;
}

.overview-facebook::before, .overview-twitter::before, .overview-instagram::before, .overview-youtube::before {
  display: none;
}

.switcher {
  border-top: 1px solid #63687D;
  margin-top: 2rem;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch {
  position: relative;
  width: 6rem;
  height: 3rem;
  background-color: #AEB3CB;
  border-radius: 1.5rem;
}

.switch::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #F1F3FA;
  background: linear-gradeient(45deg, #388FE7, #40DB82);
  top: .5rem;
  right: .5rem;
  border-radius: 1.5rem;
}

.switch:hover {
  cursor: pointer;
  background: linear-gradeient(45deg, #388FE7, #40DB82);
}

.follower-Card-facebook {
  margin-top: 2rem;
}

.follower-Card-facebook .icon {
  color: #0580EC;
}

.follower-Card-facebook::before {
  background: #0580EC;
}

.follower-Card-twitter {
  margin-top: 2rem;
}

.follower-Card-twitter .icon {
  color: #1A91DA;
}

.follower-Card-twitter::before {
  background: #1A91DA;
}

.follower-Card-instagram {
  margin-top: 2rem;
}

.follower-Card-instagram .icon {
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.follower-Card-instagram::before {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.follower-Card-instagram .icon {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #F1F3FA;
}

.follower-Card-youtube {
  margin-top: 2rem;
}

.follower-Card-youtube .icon {
  color: #FF0000;
}

.follower-Card-youtube::before {
  background: #FF0000;
}

.overview-facebook {
  margin-top: 2rem;
}

.overview-facebook .icon {
  color: #0580EC;
}

.overview-twitter {
  margin-top: 2rem;
}

.overview-twitter .icon {
  color: #1A91DA;
}

.overview-instagram {
  margin-top: 2rem;
}

.overview-instagram .icon {
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.overview-instagram .icon {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #F1F3FA;
}

.overview-youtube {
  margin-top: 2rem;
}

.overview-youtube .icon {
  color: #FF0000;
}

body {
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: white;
  color: #63687D;
}

h1 {
  font-size: 2.4rem;
}

h1, h2 {
  color: #1D1F29;
  font-weight: 700;
}

main {
  margin: 2rem;
}

header {
  margin-bottom: 2rem;
}

.overview h2 {
  margin: 2rem 0;
}
/*# sourceMappingURL=main.css.map */