.follower-Card-facebook {
    @include card($facebook-blue);
    
}

.follower-Card-twitter{
    @include card($twitter-blue);
    
}

.follower-Card-instagram{
    @include card($instagram-grad);
    .icon {
        background: $instagram-grad;
        color: $card-background-color;
    }
    
}

.follower-Card-youtube{
    @include card($youtube-red);
    
}

.overview-facebook {
    @include overview($facebook-blue);
    
}

.overview-twitter {
    @include overview($twitter-blue);
    
}

.overview-instagram {
    @include overview($instagram-grad);

    .icon {
        background: $instagram-grad;
        color: $card-background-color;
    }
}

.overview-youtube {
    @include overview($youtube-red);

}