.dark {

    background-color: $background-dark;

    h1, h2 {
        color: $primary-dark;
    }

    p {
        color: $secondary-dark;
    }

    .card {
        background-color: $card-background-dark;
    }

    .switch {
        background: $switch-bg-dark;
        &::after {
            background: $switch-dark;
        }
    }
}