@mixin card($color) {
    @extend %cards;
    .icon {
        color: $color;
    }
    &::before {
        background: $color;
    }
}

@mixin overview ($color) {
    @extend %overview-cards;
    .icon {
        color: $color;
    }
}