@mixin card($color) {
    @extend %cards;
    .icon {
        color: $color;
    }
    &::before {
        background: $color;
    }
}

@mixin overview ($color) {
    @extend %overview-cards;
    .icon {
        color: $color;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}