.switcher {
    border-top: 1px solid $secondary-color;
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch {
    position: relative;
    width: 6rem;
    height: 3rem;
    background: $switch-background-color;
    border-radius: 1.5rem;

    &::after {
        content: "";
        position: absolute;
        width: 2rem;
        height: 2rem;
        background-color: $switch-color;
        top: .5rem;
        right: .5rem;
        border-radius: 1.5rem;
    }


    &:hover {
        cursor: pointer;
        background: $switch-grad;
    }


}

.switched::after {
    left: 0.5rem;
}