$primary-color: black;
$secondary-color: gray;
$background-color: white;
$card-background-color: lightgray;

$facebook-blue: blue;
$twitter-blue: lightblue;
$instagram-grad: pink;
$youtube-red: red;
$green: green;

$switch-color: $background-color;
$switch-background-color: $secondary-color;

