@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


// Colors
$primary-color: #1D1F29;
$secondary-color: #63687D;
$background-color: white;
$card-background-color: #F1F3FA;

$facebook-blue: #0580EC;
$twitter-blue: #1A91DA;
$instagram-grad: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$youtube-red:#FF0000;

$switch-color: #F1F3FA;
$switch-background-color: #AEB3CB;

// Fonts
$Inter: 'Inter', sans-serif;