@import 'config';
@import 'variables';
@import 'placeholders';
@import 'mixins';
@import 'switch';
@import 'cards';



body {
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: $Inter;
    font-weight: 400;
    background-color: $background-color;
    color: $secondary-color;
}

h1 {
    font-size: 2.4rem;
}

h1, h2 {
    color: $primary-color;
    font-weight: 700;
}

main {
    margin: 2rem;
}

header {
    margin-bottom: 2rem;
}

.overview {
    h2 {
        margin: 2rem 0;
    }
}
